body {
  background-color: gold;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  }
header {
  color: whitesmoke;
  text-shadow: coral 1px 3px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  }
h3 {
  color: peru; 
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  }
h2 {
  color: whitesmoke;
  text-shadow: coral 1px 3px;
  font-size: 25px;
  font-weight: bolder;
  }
p {
  color: peru;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif
 }
li {
  color: whitesmoke
 }
h4 {
  color: whitesmoke;
  text-shadow: coral 1px 3px;
 }
#Music {
  font-family: Arial, Helvetica, sans-serif;
  border-style: groove;
  border-color: coral;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
 }
#Office {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-style: dashed;
  border-color: coral;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
 }
#Tickets {
  font-family: 'Times New Roman', Times, serif;
  border-style: double;
  border-color: coral;
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
 }
